{% extends 'base.html' %}

{% block contenido %}
<h1>Evidencia documental</h1>
<p>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
	sollicitudin, justo at tincidunt posuere, neque massa consequat neque,
	vitae facilisis nibh lorem sed erat.
</p>
<p>
	Praesent blandit, nisl sed consequat interdum, erat magna efficitur
	libero, vel posuere justo arcu non ipsum. Donec consequat, lectus at
	tincidunt suscipit, lorem erat feugiat mi, vitae tempus purus justo non
	massa.
</p>
<p>
	Aenean sed sem vel risus malesuada volutpat. Curabitur consequat
	tincidunt lectus, sed dignissim justo pellentesque vitae. Sed porta
	efficitur sapien, in posuere lectus gravida at.
</p>
{% endblock %}
